@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.loa{
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
}
.loader1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid rgba(0, 102, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #0066ff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #0066ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
 
}

.loader1::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #0066ff;
  border-right: 3px solid #0066ff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loader1 span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loader1 span::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00aeff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px 5px #0066ff;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}
.loader{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 10;
  top: 0%;
  transition: all 2s;
}
.head{
  font-family: "Ubuntu", sans-serif;
  color: white;
  position: relative;
  top: 35%;
  text-align: center;
  animation: moving 3s 1 2s  linear;
}
@keyframes moving {
    0%{
        top: 35%;
    }
    100%{
      top: 39%;
    }
}
.img{
  position: relative;
  top: 30%;
  text-align: center;
  
}

.image{
  width: 100px;
  height: 100px;
}
.scores{
  display: flex;
    margin-left: 50px;
    justify-content: space-between;
    width: 7%;
    position: relative;
    top: 56px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 30px;
}
@media screen and (max-width:600px) {
  .scores{
    margin-left: 10px;
    flex-direction: column;
  }
}
.X,.Y{
  display: flex;
    padding: 0px 17px;
}
.theme{
  position: absolute;
  top: 4%;
  right: 28px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: white;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background:aquamarine;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #FF9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
  background: #151515;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}


.textarea{
    width: 100%;
    display: block;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    position: absolute;
    top: 6%;
    font-size: 29px;
    transition: all 2s;

}
.container{
  display: flex;
  justify-content: center;
    margin-top: 11%;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0%;
    transition: all 2s;
}
.btns{
    padding: 32px 0px;
    width: 88px;
    background: none;
    border: none;
    cursor: pointer;
    height: 103px;
    font-size: 45px;
    text-align: center;
  font-family: "Ubuntu", sans-serif;

}
.btns:disabled{
  color: black;
  border-color: black;
}
.rows{
    height: 86px;
    border-bottom: 2px solid;

}
.btn1{
    border-right: 2px solid ;
}
.btn2{
    border-right: 2px solid ;

}
#row3{
    border: none;
}
.reset {
    font-weight: bold;
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 95.02px;
    height: 42.66px;
    border: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto; 
  }
  
.reset .span-mother {
    display: flex;
    overflow: hidden;
  }
  
.reset:hover .span-mother {
    position: absolute;
  }
  
.reset:hover .span-mother span {
    transform: translateY(1.2em);
  }
  
.reset .span-mother span:nth-child(1) {
    transition: 0.2s;
  }
  
.reset .span-mother span:nth-child(2) {
    transition: 0.3s;
  }
  
.reset .span-mother span:nth-child(3) {
    transition: 0.4s;
  }
  
.reset .span-mother span:nth-child(4) {
    transition: 0.5s;
  }
  
.reset .span-mother span:nth-child(5) {
    transition: 0.6s;
  }
  
.reset .span-mother span:nth-child(6) {
    transition: 0.7s;
  }
  
.reset .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  
.reset .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
.reset:hover .span-mother2 span {
    transform: translateY(0);
  }
  
.reset .span-mother2 span {
    transition: 0.2s;
  }
  
  .reset.span-mother2 span:nth-child(2) {
    transition: 0.3s;
  }
  
.reset .span-mother2 span:nth-child(3) {
    transition: 0.4s;
  }
  
.reset .span-mother2 span:nth-child(4) {
    transition: 0.5s;
  }
  
  .reset.span-mother2 span:nth-child(5) {
    transition: 0.6s;
  }
  
.reset .span-mother2 span:nth-child(6) {
    transition: 0.7s;
  }
  .theme-toggler{
        background-color: black;  

        .textarea{
          color: rgb(15, 236, 15);
        }
        .rows,.btns{
          transition: all 1s;
          border-color: white;
          color: white;
        }
          .reset{
          background-color: white;
          color: black;
          }
          .scores{
            color: white;
          }
  }

  .animate{
    animation: ani 1s linear 0s infinite;
      transition: all 1s;
  }
  @keyframes ani {
   0%{
    opacity: 0;
   } 
   100%{
    opacity: 1;
   }
  }

  @media screen and (max-width:910px) {
    .container{
      margin-top: 20%;
    }
    
  }
  @media screen and (max-width:500px) {
    .container{
      margin-top: 30%;
    }
    .textarea{
      top: 12%;
    }
    .btn-container{
      display: block;
      margin: 0px auto;
    }
    .theme{
      right: 0px;
      width: 100%;
    }
  }
  @media screen and (max-width:320px) {
    .container{
      margin-top: 20%;
    }
    .scores{
      margin-left: -9px;
      font-size: 24px;
    }
    .btns{
      width: 75px;;
    }
  }